#
# Copyright IBM Corp. 2026
#
# This code is free software; you can redistribute it and/or modify it
# under the terms provided by IBM in the LICENSE file that accompanied
# this code, including the "Classpath" Exception described therein.


name = OCK

description = OpenJCEPlus-OCK Provider

# =======================================================================
 # MessageDigest engines
 # =======================================================================
 #
MessageDigest.MD5.attr.add.NativeProvider = OCK
Service.MessageDigest.MD5 = com.ibm.crypto.plus.provider.MessageDigest$MD5

MessageDigest.SHA-1.alias.add = SHA, SHA1, OID.1.3.14.3.2.26, 1.3.14.3.2.26
MessageDigest.SHA-1.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA-1 = com.ibm.crypto.plus.provider.MessageDigest$SHA1

MessageDigest.SHA-224.alias.add = OID.2.16.840.1.101.3.4.2.4, 2.16.840.1.101.3.4.2.4, SHA224
MessageDigest.SHA-224.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA-224 = com.ibm.crypto.plus.provider.MessageDigest$SHA224

MessageDigest.SHA-256.alias.add = OID.2.16.840.1.101.3.4.2.1, 2.16.840.1.101.3.4.2.1, SHA2, SHA-2, SHA256
MessageDigest.SHA-256.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA-256 = com.ibm.crypto.plus.provider.MessageDigest$SHA256

MessageDigest.SHA-384.alias.add = OID.2.16.840.1.101.3.4.2.2, 2.16.840.1.101.3.4.2.2, SHA3, SHA-3, SHA384
MessageDigest.SHA-384.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA-384 = com.ibm.crypto.plus.provider.MessageDigest$SHA384

MessageDigest.SHA-512.alias.add = OID.2.16.840.1.101.3.4.2.3, 2.16.840.1.101.3.4.2.3, SHA5, SHA-5, SHA512
MessageDigest.SHA-512.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA-512 = com.ibm.crypto.plus.provider.MessageDigest$SHA512

# SHA512-224
MessageDigest.SHA-512/224.alias.add = SHA512/224, OID.2.16.840.1.101.3.4.2.5, 2.16.840.1.101.3.4.2.5
MessageDigest.SHA-512/224.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA-512/224 = com.ibm.crypto.plus.provider.MessageDigest$SHA512_224

# SHA512-256
MessageDigest.SHA-512/256.alias.add = SHA512/256, OID.2.16.840.1.101.3.4.2.6, 2.16.840.1.101.3.4.2.6
MessageDigest.SHA-512/256.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA-512/256 = com.ibm.crypto.plus.provider.MessageDigest$SHA512_256

#SHA3 Hashes
MessageDigest.SHA3-224.alias.add = SHA3-224, OID.2.16.840.1.101.3.4.2.7, 2.16.840.1.101.3.4.2.7
MessageDigest.SHA3-224.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA3-224 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_224

MessageDigest.SHA3-256.alias.add = SHA3-256, OID.2.16.840.1.101.3.4.2.8, 2.16.840.1.101.3.4.2.8
MessageDigest.SHA3-256.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA3-256 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_256

MessageDigest.SHA3-384.alias.add = SHA3-384, OID.2.16.840.1.101.3.4.2.9, 2.16.840.1.101.3.4.2.9
MessageDigest.SHA3-384.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA3-384 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_384

MessageDigest.SHA3-512.alias.add = SHA3-512, OID.2.16.840.1.101.3.4.2.10, 2.16.840.1.101.3.4.2.10
MessageDigest.SHA3-512.attr.add.NativeProvider = OCK
Service.MessageDigest.SHA3-512 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_512

# =======================================================================
 # PQC key pair generator engines
 # =======================================================================
 #
KeyPairGenerator.ML-DSA.attr.add.NativeProvider = OCK
Service.KeyPairGenerator.ML-DSA = com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLDSA
KeyPairGenerator.ML-DSA-44.alias.add = ML_DSA_44, MLDSA44, OID.2.16.840.1.101.3.4.3.17, 2.16.840.1.101.3.4.3.17
KeyPairGenerator.ML-DSA-44.attr.add.NativeProvider = OCK
Service.KeyPairGenerator.ML-DSA-44 = com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLDSA44
KeyPairGenerator.ML-DSA-65.alias.add = ML_DSA_65, MLDSA65, OID.2.16.840.1.101.3.4.3.18, 2.16.840.1.101.3.4.3.18
KeyPairGenerator.ML-DSA-65.attr.add.NativeProvider = OCK
Service.KeyPairGenerator.ML-DSA-65 = com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLDSA65
KeyPairGenerator.ML-DSA-87.alias.add = ML_DSA_87, MLDSA87, OID.2.16.840.1.101.3.4.3.19, 2.16.840.1.101.3.4.3.19
KeyPairGenerator.ML-DSA-87.attr.add.NativeProvider = OCK
Service.KeyPairGenerator.ML-DSA-87 = com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLDSA87

KeyPairGenerator.ML-KEM.attr.add.NativeProvider = OCK
Service.KeyPairGenerator.ML-KEM = com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLKEM
KeyPairGenerator.ML-KEM-512.alias.add = ML_KEM_512, MLKEM512, OID.2.16.840.1.101.3.4.4.1, 2.16.840.1.101.3.4.4.1
KeyPairGenerator.ML-KEM-512.attr.add.NativeProvider = OCK
Service.KeyPairGenerator.ML-KEM-512 = com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLKEM512
KeyPairGenerator.ML-KEM-768.alias.add = ML_KEM_768, MLKEM768, OID.2.16.840.1.101.3.4.4.2, 2.16.840.1.101.3.4.4.2
KeyPairGenerator.ML-KEM-768.attr.add.NativeProvider = OCK
Service.KeyPairGenerator.ML-KEM-768 = com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLKEM768
KeyPairGenerator.ML-KEM-1024.alias.add = ML_KEM_1024, MLKEM1024, OID.2.16.840.1.101.3.4.4.3, 2.16.840.1.101.3.4.4.3
KeyPairGenerator.ML-KEM-1024.attr.add.NativeProvider = OCK
Service.KeyPairGenerator.ML-KEM-1024 = com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLKEM1024

# =======================================================================
 # PQC key factory engines
 # =======================================================================
 #
KeyFactory.ML-DSA.attr.add.NativeProvider = OCK
Service.KeyFactory.ML-DSA = com.ibm.crypto.plus.provider.PQCKeyFactory$MLDSA
KeyFactory.ML-DSA-44.alias.add = ML_DSA_44, MLDSA44, OID.2.16.840.1.101.3.4.3.17, 2.16.840.1.101.3.4.3.17
KeyFactory.ML-DSA-44.attr.add.NativeProvider = OCK
Service.KeyFactory.ML-DSA-44 = com.ibm.crypto.plus.provider.PQCKeyFactory$MLDSA44
KeyFactory.ML-DSA-65.alias.add = ML_DSA_65, MLDSA65, OID.2.16.840.1.101.3.4.3.18, 2.16.840.1.101.3.4.3.18
KeyFactory.ML-DSA-65.attr.add.NativeProvider = OCK
Service.KeyFactory.ML-DSA-65 = com.ibm.crypto.plus.provider.PQCKeyFactory$MLDSA65
KeyFactory.ML-DSA-87.alias.add = ML_DSA_87, MLDSA87, OID.2.16.840.1.101.3.4.3.19, 2.16.840.1.101.3.4.3.19
KeyFactory.ML-DSA-87.attr.add.NativeProvider = OCK
Service.KeyFactory.ML-DSA-87 = com.ibm.crypto.plus.provider.PQCKeyFactory$MLDSA87

KeyFactory.ML-KEM.attr.add.NativeProvider = OCK
Service.KeyFactory.ML-KEM = com.ibm.crypto.plus.provider.PQCKeyFactory$MLKEM
KeyFactory.ML-KEM-512.alias.add = ML_KEM_512, MLKEM512, OID.2.16.840.1.101.3.4.4.1, 2.16.840.1.101.3.4.4.1
KeyFactory.ML-KEM-512.attr.add.NativeProvider = OCK
Service.KeyFactory.ML-KEM-512 = com.ibm.crypto.plus.provider.PQCKeyFactory$MLKEM512
KeyFactory.ML-KEM-768.alias.add = ML_KEM_768, MLKEM768, OID.2.16.840.1.101.3.4.4.2, 2.16.840.1.101.3.4.4.2
KeyFactory.ML-KEM-768.attr.add.NativeProvider = OCK
Service.KeyFactory.ML-KEM-768 = com.ibm.crypto.plus.provider.PQCKeyFactory$MLKEM768
KeyFactory.ML-KEM-1024.alias.add = ML_KEM_1024, MLKEM1024, OID.2.16.840.1.101.3.4.4.3, 2.16.840.1.101.3.4.4.3
KeyFactory.ML-KEM-1024.attr.add.NativeProvider = OCK
Service.KeyFactory.ML-KEM-1024 = com.ibm.crypto.plus.provider.PQCKeyFactory$MLKEM1024

# =======================================================================
 # PQC signature engines
 # =======================================================================
 #
Signature.ML-DSA.attr.add.NativeProvider = OCK
Service.Signature.ML-DSA = com.ibm.crypto.plus.provider.PQCSignatureImpl$MLDSA
Signature.ML-DSA-44.alias.add = ML_DSA_44, MLDSA44, OID.2.16.840.1.101.3.4.3.17, 2.16.840.1.101.3.4.3.17
Signature.ML-DSA-44.attr.add.NativeProvider = OCK
Service.Signature.ML-DSA-44 = com.ibm.crypto.plus.provider.PQCSignatureImpl$MLDSA44
Signature.ML-DSA-65.alias.add = ML_DSA_65, MLDSA65, OID.2.16.840.1.101.3.4.3.18, 2.16.840.1.101.3.4.3.18
Signature.ML-DSA-65.attr.add.NativeProvider = OCK
Service.Signature.ML-DSA-65 = com.ibm.crypto.plus.provider.PQCSignatureImpl$MLDSA65
Signature.ML-DSA-87.alias.add = ML_DSA_87, MLDSA87, OID.2.16.840.1.101.3.4.3.19, 2.16.840.1.101.3.4.3.19
Signature.ML-DSA-87.attr.add.NativeProvider = OCK
Service.Signature.ML-DSA-87 = com.ibm.crypto.plus.provider.PQCSignatureImpl$MLDSA87

# =======================================================================
 # PQC key encapsulation mechanism engines
 # =======================================================================
 #
KEM.ML-KEM.attr.add.NativeProvider = OCK
Service.KEM.ML-KEM = com.ibm.crypto.plus.provider.MLKEMImpl$MLKEM
KEM.ML-KEM-512.alias.add = ML_KEM_512, MLKEM512, OID.2.16.840.1.101.3.4.4.1, 2.16.840.1.101.3.4.4.1
KEM.ML-KEM-512.attr.add.NativeProvider = OCK
Service.KEM.ML-KEM-512 = com.ibm.crypto.plus.provider.MLKEMImpl$MLKEM512
KEM.ML-KEM-768.alias.add = ML_KEM_768, MLKEM768, OID.2.16.840.1.101.3.4.4.2, 2.16.840.1.101.3.4.4.2
KEM.ML-KEM-768.attr.add.NativeProvider = OCK
Service.KEM.ML-KEM-768 = com.ibm.crypto.plus.provider.MLKEMImpl$MLKEM768
KEM.ML-KEM-1024.alias.add = ML_KEM_1024, MLKEM1024, OID.2.16.840.1.101.3.4.4.3, 2.16.840.1.101.3.4.4.3
KEM.ML-KEM-1024.attr.add.NativeProvider = OCK
Service.KEM.ML-KEM-1024 = com.ibm.crypto.plus.provider.MLKEMImpl$MLKEM1024
