#
# Copyright IBM Corp. 2026
#
# This code is free software; you can redistribute it and/or modify it
# under the terms provided by IBM in the LICENSE file that accompanied
# this code, including the "Classpath" Exception described therein.


name = OpenSSL

description = OpenJCEPlus-OpenSSL Provider

# =======================================================================
 # MessageDigest engines
 # =======================================================================
 #
MessageDigest.MD5.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.MD5 = com.ibm.crypto.plus.provider.MessageDigest$MD5

MessageDigest.SHA-1.alias.add = SHA, SHA1, OID.1.3.14.3.2.26, 1.3.14.3.2.26
MessageDigest.SHA-1.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA-1 = com.ibm.crypto.plus.provider.MessageDigest$SHA1

MessageDigest.SHA-224.alias.add = OID.2.16.840.1.101.3.4.2.4, 2.16.840.1.101.3.4.2.4, SHA224
MessageDigest.SHA-224.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA-224 = com.ibm.crypto.plus.provider.MessageDigest$SHA224

MessageDigest.SHA-256.alias.add = OID.2.16.840.1.101.3.4.2.1, 2.16.840.1.101.3.4.2.1, SHA2, SHA-2, SHA256
MessageDigest.SHA-256.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA-256 = com.ibm.crypto.plus.provider.MessageDigest$SHA256

MessageDigest.SHA-384.alias.add = OID.2.16.840.1.101.3.4.2.2, 2.16.840.1.101.3.4.2.2, SHA3, SHA-3, SHA384
MessageDigest.SHA-384.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA-384 = com.ibm.crypto.plus.provider.MessageDigest$SHA384

MessageDigest.SHA-512.alias.add = OID.2.16.840.1.101.3.4.2.3, 2.16.840.1.101.3.4.2.3, SHA5, SHA-5, SHA512
MessageDigest.SHA-512.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA-512 = com.ibm.crypto.plus.provider.MessageDigest$SHA512

# SHA512-224
MessageDigest.SHA-512/224.alias.add = SHA512/224, OID.2.16.840.1.101.3.4.2.5, 2.16.840.1.101.3.4.2.5
MessageDigest.SHA-512/224.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA-512/224 = com.ibm.crypto.plus.provider.MessageDigest$SHA512_224

# SHA512-256
MessageDigest.SHA-512/256.alias.add = SHA512/256, OID.2.16.840.1.101.3.4.2.6, 2.16.840.1.101.3.4.2.6
MessageDigest.SHA-512/256.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA-512/256 = com.ibm.crypto.plus.provider.MessageDigest$SHA512_256

#SHA3 Hashes
MessageDigest.SHA3-224.alias.add = SHA3-224, OID.2.16.840.1.101.3.4.2.7, 2.16.840.1.101.3.4.2.7
MessageDigest.SHA3-224.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA3-224 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_224

MessageDigest.SHA3-256.alias.add = SHA3-256, OID.2.16.840.1.101.3.4.2.8, 2.16.840.1.101.3.4.2.8
MessageDigest.SHA3-256.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA3-256 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_256

MessageDigest.SHA3-384.alias.add = SHA3-384, OID.2.16.840.1.101.3.4.2.9, 2.16.840.1.101.3.4.2.9
MessageDigest.SHA3-384.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA3-384 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_384

MessageDigest.SHA3-512.alias.add = SHA3-512, OID.2.16.840.1.101.3.4.2.10, 2.16.840.1.101.3.4.2.10
MessageDigest.SHA3-512.attr.add.NativeProvider = OPENSSL
Service.MessageDigest.SHA3-512 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_512
