/*
 * Copyright IBM Corp. 2026
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms provided by IBM in the LICENSE file that accompanied
 * this code, including the "Classpath" Exception described therein.
 */


        name = "test";

        descrption =  "OpenJCEPlus-test Provider implements the following:\n"
            + "Algorithm parameter                : AES, ChaCha20, ChaCha20-Poly1305, DESede, DiffieHellman, DSA, EC, XEC, GCM, CCM, OAEP, RSAPSS\n"
            + "                                       PBEWithHmacSHA1AndAES_128, PBEWithHmacSHA1AndAES_256, PBEWithHmacSHA224AndAES_128, PBEWithHmacSHA224AndAES_256\n"
            + "                                       PBEWithHmacSHA256AndAES_128, PBEWithHmacSHA256AndAES_256, PBEWithHmacSHA384AndAES_128, PBEWithHmacSHA384AndAES_256\n"
            + "                                       PBEWithHmacSHA512AndAES_128, PBEWithHmacSHA512AndAES_256, PBEWithHmacSHA512/224AndAES_128, PBEWithHmacSHA512/224AndAES_256\n"
            + "                                       PBEWithHmacSHA512/256AndAES_128, PBEWithHmacSHA512/256AndAES_256\n"                                     
            + "Algorithm parameter generator      :  DiffieHellman, DSA, EC, XEC, GCM, CCM\n"
            + "Cipher algorithms                  : AES, ChaCha20, ChaCha20-Poly1305, DESede, RSA\n"
            + "                                       PBEWithHmacSHA1AndAES_128, PBEWithHmacSHA1AndAES_256, PBEWithHmacSHA224AndAES_128, PBEWithHmacSHA224AndAES_256\n"
            + "                                       PBEWithHmacSHA256AndAES_128, PBEWithHmacSHA256AndAES_256, PBEWithHmacSHA384AndAES_128, PBEWithHmacSHA384AndAES_256\n"
            + "                                       PBEWithHmacSHA512AndAES_128, PBEWithHmacSHA512AndAES_256, PBEWithHmacSHA512/224AndAES_128, PBEWithHmacSHA512/224AndAES_256\n"
            + "                                       PBEWithHmacSHA512/256AndAES_128, PBEWithHmacSHA512/256AndAES_256\n"            
            + "Key agreement algorithms           : DiffieHellman, ECDH, XDH\n"
            + "Key Encapsulation Mechanisms       : ML-KEM-512, ML-KEM-768, ML-KEM-1024\n"
            + "Key factory                        : DiffieHellman, DSA, EC, XEC,  RSA, RSAPSS, ML-KEM-512, ML-KEM-768, ML-KEM-1024\n"
            + "Key generator                      : AES, ChaCha20, DESede, HmacMD5, HmacSHA1, HmacSHA224,\n"
            + "                                       HmacMD5, HmacSHA1, HmacSHA224, HmacSHA256, HmacSHA384, HmacSHA512,\n"
            + "                                       HmacSHA3-224, HmacSHA3-256, HmacSHA3-384, HmacSHA3-512,\n"
            + "                                       kda-hkdf-witH-sha1, kda-hkdf-with-sha224,\n"
            + "                                       kda-hkdf-with-sha256, kda-hkdf-with-sha384,\n"
            + "                                       kda-hkdf-with-sha512\n"
            + "Key pair generator                 : DiffieHellman, DSA, EC, XEC, RSA, ML-DSA-44, ML-DSA-65, ML-DSA-87,\n"
            + "                                       ML-KEM-512, ML-KEM-768, ML-KEM-1024\n"
            + "Message authentication code (MAC)  : HmacMD5, HmacSHA1, HmacSHA224, HmacSHA256, HmacSHA384, HmacSHA512\n"
            + "                                       , HmacSHA3-224, HmacSHA3-256, HmacSHA3-384, HmacSHA3-512\n"
            + "Message digest                     : MD5, SHA-1, SHA-224, SHA-256, SHA-384, SHA-512, SHA-512/224, SHA-512/256, SHA3-224, SHA3-256, SHA3-384, SHA3-512\n"
            + "Secret key factory                 : AES, ChaCha20, DESede, PBKDF2WithHmacSHA1, PBKDF2WithHmacSHA224, PBKDF2WithHmacSHA256, PBKDF2WithHmacSHA384, PBKDF2WithHmacSHA512\n"
            + "                                       PBKDF2WithHmacSHA512/224, PBKDF2WithHmacSHA512/256\n"
            + "                                       PBEWithHmacSHA1AndAES_128, PBEWithHmacSHA1AndAES_256, PBEWithHmacSHA224AndAES_128, PBEWithHmacSHA224AndAES_256\n"
            + "                                       PBEWithHmacSHA256AndAES_128, PBEWithHmacSHA256AndAES_256, PBEWithHmacSHA384AndAES_128, PBEWithHmacSHA384AndAES_256\n"
            + "                                       PBEWithHmacSHA512AndAES_128, PBEWithHmacSHA512AndAES_256, PBEWithHmacSHA512/224AndAES_128, PBEWithHmacSHA512/224AndAES_256\n"
            + "                                       PBEWithHmacSHA512/256AndAES_128, PBEWithHmacSHA512/256AndAES_256\n"              
            + "Secure random                      : HASHDRBG, SHA256DRBG, SHA512DRBG\n"
            + "Signature algorithms               : NONEwithDSA, SHA1withDSA, SHA224withDSA, SHA256withDSA,\n"
            + "                                       SHA3-224withDSA, SHA3-256withDSA, SHA3-384withDSA, SHA3-512withDSA,\n"
            + "                                       NONEwithECDSA, SHA1withECDSA, SHA224withECDSA,\n"
            + "                                       SHA256withECDSA, SHA384withECDSA, SHA512withECDSA,\n"
            + "                                       SHA3-224withECDSA, SHA3-256withECDSA, SHA3-384withECDSA, SHA3-512withECDSA,\n"
            + "                                       NONEwithRSA, SHA1withRSA, SHA224withRSA,\n"
            + "                                       SHA256withRSA, SHA384withRSA, SHA512withRSA, RSAPSS, Ed25519, Ed448,\n"
            + "                                       SHA3-224withRSA, SHA3-256withRSA, SHA3-384withRSA, SHA3-512withRSA,\n"
            + "                                       ML_DSA_44, ML_DSA_65, ML_DSA_87\n";

Service.AlgorithmParameters.AES = "com.ibm.crypto.plus.provider.AESParameters"



AlgorithmParameters.DESede.alias.add = "TripleDES, 3DES"
Service.AlgorithmParameters.DESede = "com.ibm.crypto.plus.provider.DESedeParameters"

AlgorithmParameters.DiffieHellman.alias.add = "DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1"
Service.AlgorithmParameters.DiffieHellman = "com.ibm.crypto.plus.provider.DHParameters"

AlgorithmParameters.DSA.alias.add = "OID.1.2.840.10040.4.1, 1.2.840.10040.4.1, OID.1.3.14.3.2.12, 1.3.14.3.2.12"
Service.AlgorithmParameters.DSA = "com.ibm.crypto.plus.provider.DSAParameters"

AlgorithmParameters.EC.alias.add = "EllipticCurve, OID.1.2.840.10045.2.1, 1.2.840.10045.2.1"
Service.AlgorithmParameters.EC = "com.ibm.crypto.plus.provider.ECParameters"

AlgorithmParameters.GCM.alias.add = "AESGCM"
Service.AlgorithmParameters.GCM = "com.ibm.crypto.plus.provider.GCMParameters"

AlgorithmParameters.CCM.alias.add = "AESCCM"
Service.AlgorithmParameters.CCM = "com.ibm.crypto.plus.provider.CCMParameters"

Service.AlgorithmParameters.OAEP = "com.ibm.crypto.plus.provider.OAEPParameters"

Service.AlgorithmParameters.PBEWithHmacSHA1AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA1AndAES_128"

Service.AlgorithmParameters.PBEWithHmacSHA1AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA1AndAES_256"

Service.AlgorithmParameters.PBEWithHmacSHA224AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA224AndAES_128"

Service.AlgorithmParameters.PBEWithHmacSHA224AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA224AndAES_256"

Service.AlgorithmParameters.PBEWithHmacSHA256AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA256AndAES_128"

Service.AlgorithmParameters.PBEWithHmacSHA256AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA256AndAES_256"

Service.AlgorithmParameters.PBEWithHmacSHA384AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA384AndAES_128"

Service.AlgorithmParameters.PBEWithHmacSHA384AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA384AndAES_256"

Service.AlgorithmParameters.PBEWithHmacSHA512AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA512AndAES_128"

Service.AlgorithmParameters.PBEWithHmacSHA512AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA512AndAES_256"

Service.AlgorithmParameters.PBEWithHmacSHA512/224AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA512_224AndAES_128"

Service.AlgorithmParameters.PBEWithHmacSHA512/224AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA512_224AndAES_256"

Service.AlgorithmParameters.PBEWithHmacSHA512/256AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA512_256AndAES_128"

Service.AlgorithmParameters.PBEWithHmacSHA512/256AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Parameters$HmacSHA512_256AndAES_256"

Service.AlgorithmParameters.ChaCha20-Poly1305 = "com.ibm.crypto.plus.provider.ChaCha20Poly1305Parameters"

/* =======================================================================
 * Algorithm parameter generation engines
 * =======================================================================
 */
AlgorithmParameterGenerator.DiffieHellman.alias.add = "DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1"
Service.AlgorithmParameterGenerator.DiffieHellman = "com.ibm.crypto.plus.provider.DHParameterGenerator"

AlgorithmParameters.RSAPSS.alias.add = "RSA-PSS, RSASSA-PSS, RSASA-PSS"
Service.AlgorithmParameters.RSAPSS = "com.ibm.crypto.plus.provider.PSSParameters"

Service.AlgorithmParameterGenerator.DSA = "com.ibm.crypto.plus.provider.DSAParameterGenerator"

Service.AlgorithmParameterGenerator.EC = "com.ibm.crypto.plus.provider.ECParameterGenerator"

AlgorithmParameterGenerator.GCM.alias.add = "AESGCM"
Service.AlgorithmParameterGenerator.GCM = "com.ibm.crypto.plus.provider.GCMParameterGenerator"

AlgorithmParameterGenerator.CCM.alias.add = "AESCCM"
Service.AlgorithmParameterGenerator.CCM = "com.ibm.crypto.plus.provider.CCMParameterGenerator"

/* =======================================================================
 * Cipher engines
 * =======================================================================
 */
Service.Cipher.AES/GCM/NoPadding = "com.ibm.crypto.plus.provider.AESGCMCipher"

Service.Cipher.AES/CCM/NoPadding = "com.ibm.crypto.plus.provider.AESCCMCipher"

Service.Cipher.AES = "com.ibm.crypto.plus.provider.AESCipher"

Cipher.AES/KW/NoPadding.alias.add = "AESWrap"
Service.Cipher.AES/KW/NoPadding = "com.ibm.crypto.plus.provider.AESKeyWrapCipher$KW"

Cipher.AES/KWP/NoPadding.alias.add = "AESWrapPad"
Service.Cipher.AES/KWP/NoPadding = "com.ibm.crypto.plus.provider.AESKeyWrapCipher$KWP"

Cipher.AES_128/KW/NoPadding.alias.add = "AESWrap_128, 2.16.840.1.101.3.4.1.5, OID.2.16.840.1.101.3.4.1.5"
Service.Cipher.AES_128/KW/NoPadding = "com.ibm.crypto.plus.provider.AESKeyWrapCipher$KW_128"

Cipher.AES_128/KWP/NoPadding.alias.add = "AESWrapPad_128, 2.16.840.1.101.3.4.1.8, OID.2.16.840.1.101.3.4.1.8"
Service.Cipher.AES_128/KWP/NoPadding = "com.ibm.crypto.plus.provider.AESKeyWrapCipher$KWP_128"

Cipher.AES_192/KW/NoPadding.alias.add = "AESWrap_192, 2.16.840.1.101.3.4.1.25, OID.2.16.840.1.101.3.4.1.25"
Service.Cipher.AES_192/KW/NoPadding = "com.ibm.crypto.plus.provider.AESKeyWrapCipher$KW_192"

Cipher.AES_192/KWP/NoPadding.alias.add = "AESWrapPad_192, 2.16.840.1.101.3.4.1.28, OID.2.16.840.1.101.3.4.1.28"
Service.Cipher.AES_192/KWP/NoPadding = "com.ibm.crypto.plus.provider.AESKeyWrapCipher$KWP_192"

Cipher.AES_256/KW/NoPadding.alias.add = "AESWrap_256, 2.16.840.1.101.3.4.1.45, OID.2.16.840.1.101.3.4.1.45"
Service.Cipher.AES_256/KW/NoPadding = "com.ibm.crypto.plus.provider.AESKeyWrapCipher$KW_256"

Cipher.AES_256/KWP/NoPadding.alias.add = "AESWrapPad_256, 2.16.840.1.101.3.4.1.48, OID.2.16.840.1.101.3.4.1.48"
Service.Cipher.AES_256/KWP/NoPadding = "com.ibm.crypto.plus.provider.AESKeyWrapCipher$KWP_256"

Cipher.DESede.alias.add = "TripleDES, 3DES"
Service.Cipher.DESede = "com.ibm.crypto.plus.provider.DESedeCipher"

Service.Cipher.RSA = "com.ibm.crypto.plus.provider.RSA"

Service.Cipher.ChaCha20 = "com.ibm.crypto.plus.provider.ChaCha20Cipher"

Service.Cipher.ChaCha20-Poly1305 = "com.ibm.crypto.plus.provider.ChaCha20Poly1305Cipher"

Service.Cipher.PBEWithHmacSHA1AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA1AndAES_128"

Service.Cipher.PBEWithHmacSHA1AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA1AndAES_256"

Service.Cipher.PBEWithHmacSHA224AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA224AndAES_128"

Service.Cipher.PBEWithHmacSHA224AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA224AndAES_256"

Service.Cipher.PBEWithHmacSHA256AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA256AndAES_128"

Service.Cipher.PBEWithHmacSHA256AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA256AndAES_256"

Service.Cipher.PBEWithHmacSHA384AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA384AndAES_128"

Service.Cipher.PBEWithHmacSHA384AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA384AndAES_256"

Service.Cipher.PBEWithHmacSHA512AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA512AndAES_128"

Service.Cipher.PBEWithHmacSHA512AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA512AndAES_256"

Service.Cipher.PBEWithHmacSHA512/224AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA512_224AndAES_128"

Service.Cipher.PBEWithHmacSHA512/224AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA512_224AndAES_256"

Service.Cipher.PBEWithHmacSHA512/256AndAES_128 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA512_256AndAES_128"

Service.Cipher.PBEWithHmacSHA512/256AndAES_256 = "com.ibm.crypto.plus.provider.PBES2Core$HmacSHA512_256AndAES_256"

/* =======================================================================
 * Key agreement
 * =======================================================================
 */
KeyAgreement.DiffieHellman.alias.add = "DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1"
Service.KeyAgreement.DiffieHellman = "com.ibm.crypto.plus.provider.DHKeyAgreement"

Service.KeyAgreement.ECDH = "com.ibm.crypto.plus.provider.ECDHKeyAgreement"

Service.KeyAgreement.XDH = "com.ibm.crypto.plus.provider.XDHKeyAgreement$XDH"

KeyAgreement.X25519.alias.add = "OID.1.3.101.110, 1.3.101.110"
Service.KeyAgreement.X25519 = "com.ibm.crypto.plus.provider.XDHKeyAgreement$X25519"

KeyAgreement.X448.alias.add = "OID.1.3.101.111, 1.3.101.111"
Service.KeyAgreement.X448 = "com.ibm.crypto.plus.provider.XDHKeyAgreement$X448"

/* =======================================================================
 * Key factories
 * =======================================================================
 */
KeyFactory.DiffieHellman.alias.add = "DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1"
Service.KeyFactory.DiffieHellman = "com.ibm.crypto.plus.provider.DHKeyFactory"

KeyFactory.DSA.alias.add = "OID.1.2.840.10040.4.1, 1.2.840.10040.4.1, OID.1.3.14.3.2.12, 1.3.14.3.2.12, DSAKeyFactory"
Service.KeyFactory.DSA = "com.ibm.crypto.plus.provider.DSAKeyFactory"

KeyFactory.EC.alias.add = "OID.1.2.840.10045.2.1, 1.2.840.10045.2.1, EllipticCurve"
Service.KeyFactory.EC = "com.ibm.crypto.plus.provider.ECKeyFactory"

Service.KeyFactory.XDH = "com.ibm.crypto.plus.provider.XDHKeyFactory$XDH"

KeyFactory.X25519.alias.add = "OID.1.3.101.110, 1.3.101.110"
Service.KeyFactory.X25519 = "com.ibm.crypto.plus.provider.XDHKeyFactory$X25519"

KeyFactory.X448.alias.add = "OID.1.3.101.111, 1.3.101.111"
Service.KeyFactory.X448 = "com.ibm.crypto.plus.provider.XDHKeyFactory$X448"

Service.KeyFactory.EdDSA = "com.ibm.crypto.plus.provider.EdDSAKeyFactory$EdDSA"

KeyFactory.Ed25519.alias.add = "OID.1.3.101.112, 1.3.101.112"
Service.KeyFactory.Ed25519 = "com.ibm.crypto.plus.provider.EdDSAKeyFactory$Ed25519"

KeyFactory.Ed448.alias.add = "OID.1.3.101.113, 1.3.101.113"
Service.KeyFactory.Ed448 = "com.ibm.crypto.plus.provider.EdDSAKeyFactory$Ed448"

KeyFactory.RSA.alias.add = "OID.1.2.5.8.1.1, 1.2.5.8.1.1, OID.1.2.840.113549.1.1.1, 1.2.840.113549.1.1.1, OID.1.2.840.113549.1.1, 1.2.840.113549.1.1"
Service.KeyFactory.RSA = "com.ibm.crypto.plus.provider.RSAKeyFactory$Legacy"

KeyFactory.RSAPSS.alias.add = "RSA-PSS, RSASSA-PSS, RSASA-PSS, OID.1.2.840.113549.1.1.10, 1.2.840.113549.1.1.10"
Service.KeyFactory.RSAPSS = "com.ibm.crypto.plus.provider.RSAKeyFactory$PSS"

/* =======================================================================
 * PQC key factories
 * =======================================================================
 */
KeyFactory.ML-KEM-512.alias.add = "ML_KEM_512, MLKEM512, OID.2.16.840.1.101.3.4.4.1, 2.16.840.1.101.3.4.4.1"
Service.KeyFactory.ML-KEM-512 = "com.ibm.crypto.plus.provider.PQCKeyFactory$MLKEM512"

KeyFactory.ML-KEM-768.alias.add = "ML-KEM, ML_KEM_768, MLKEM768, OID.2.16.840.1.101.3.4.4.2, 2.16.840.1.101.3.4.4.2"
Service.KeyFactory.ML-KEM-768 = "com.ibm.crypto.plus.provider.PQCKeyFactory$MLKEM768"

KeyFactory.ML-KEM-1024.alias.add = "ML_KEM_1024, MLKEM1024, OID.2.16.840.1.101.3.4.4.3, 2.16.840.1.101.3.4.4.3"
Service.KeyFactory.ML-KEM-1024 = "com.ibm.crypto.plus.provider.PQCKeyFactory$MLKEM1024"

KeyFactory.ML-DSA-44.alias.add = "ML_DSA_44, MLDSA44, OID.2.16.840.1.101.3.4.3.17, 2.16.840.1.101.3.4.3.17"
Service.KeyFactory.ML-DSA-44 = "com.ibm.crypto.plus.provider.PQCKeyFactory$MLDSA44"

KeyFactory.ML-DSA-65.alias.add = "ML-DSA, ML_DSA_65, MLDSA65, OID.2.16.840.1.101.3.4.3.18, 2.16.840.1.101.3.4.3.18"
Service.KeyFactory.ML-DSA-65 = "com.ibm.crypto.plus.provider.PQCKeyFactory$MLDSA65"

KeyFactory.ML-DSA-87.alias.add = "ML_DSA_87, MLDSA87, OID.2.16.840.1.101.3.4.3.19, 2.16.840.1.101.3.4.3.19"
Service.KeyFactory.ML-DSA-87 = "com.ibm.crypto.plus.provider.PQCKeyFactory$MLDSA87"

/* =======================================================================
 * Key Generator engines
 * =======================================================================
 */
KeyGenerator.AES.alias.add = "2.16.840.1.101.3.4.1, OID.2.16.840.1.101.3.4.1"
Service.KeyGenerator.AES = "com.ibm.crypto.plus.provider.AESKeyGenerator"

KeyGenerator.DESede.alias.add = "TripleDES, 3DES"
Service.KeyGenerator.DESede = "com.ibm.crypto.plus.provider.DESedeKeyGenerator"

KeyGenerator.HmacMD5.alias.add = "HMACwithMD5"
Service.KeyGenerator.HmacMD5 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacMD5"

KeyGenerator.HmacSHA1.alias.add = "OID.1.2.840.113549.2.7, 1.2.840.113549.2.7, HMACwithSHA1, HMACwithSHA-1, HmacSHA-1"
Service.KeyGenerator.HmacSHA1 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA1"

KeyGenerator.HmacSHA224.alias.add = "OID.1.2.840.113549.2.8, 1.2.840.113549.2.8, HMACwithSHA224, HMACwithSHA-224, HmacSHA-224"
Service.KeyGenerator.HmacSHA224 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA224"

KeyGenerator.HmacSHA256.alias.add = "OID.1.2.840.113549.2.9, 1.2.840.113549.2.9, HMACwithSHA256, HMACwithSHA-256, HmacSHA-256"
Service.KeyGenerator.HmacSHA256 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA256"

KeyGenerator.HmacSHA384.alias.add = "OID.1.2.840.113549.2.10, 1.2.840.113549.2.10, HMACwithSHA384, HMACwithSHA-384, HmacSHA-384"
Service.KeyGenerator.HmacSHA384 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA384"

KeyGenerator.HmacSHA512.alias.add = "OID.1.2.840.113549.2.11, 1.2.840.113549.2.11, HMACwithSHA512, HMACwithSHA-512, HmacSHA-512"
Service.KeyGenerator.HmacSHA512 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA512"

KeyGenerator.HmacSHA3-224.alias.add = "OID.2.16.840.1.101.3.4.2.13, 2.16.840.1.101.3.4.2.13, HMACwithSHA3-224, HmacSHA3-224"
Service.KeyGenerator.HmacSHA3-224 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA3_224"

KeyGenerator.HmacSHA3-256.alias.add = "OID.2.16.840.1.101.3.4.2.14, 2.16.840.1.101.3.4.2.14, HMACwithSHA3-256, HmacSHA3-256"
Service.KeyGenerator.HmacSHA3-256 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA3_256"

KeyGenerator.HmacSHA3-384.alias.add = "OID.2.16.840.1.101.3.4.2.15, 2.16.840.1.101.3.4.2.15, HMACwithSHA3-384, HmacSHA3-384"
Service.KeyGenerator.HmacSHA3-384 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA3_384"

KeyGenerator.HmacSHA3-512.alias.add = "OID.2.16.840.1.101.3.4.2.16, 2.16.840.1.101.3.4.2.16, HMACwithSHA3-512, HmacSHA3-512"
Service.KeyGenerator.HmacSHA3-512 = "com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA3_512"

// Used for both ChaCha20 and ChaCha20-Poly1305 ciphers
Service.KeyGenerator.ChaCha20 = "com.ibm.crypto.plus.provider.ChaCha20KeyGenerator"

/* =======================================================================
 * Keypair Generator engines
 * =======================================================================
 */
KeyPairGenerator.DiffieHellman.alias.add = "DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1"
Service.KeyPairGenerator.DiffieHellman = "com.ibm.crypto.plus.provider.DHKeyPairGenerator"

KeyPairGenerator.DSA.alias.add = "OID.1.2.840.10040.4.1, 1.2.840.10040.4.1, OID.1.3.14.3.2.12, 1.3.14.3.2.12"
Service.KeyPairGenerator.DSA = "com.ibm.crypto.plus.provider.DSAKeyPairGenerator"

KeyPairGenerator.EC.alias.add = "OID.1.2.840.10045.2.1, 1.2.840.10045.2.1, EllipticCurve"
Service.KeyPairGenerator.EC = "com.ibm.crypto.plus.provider.ECKeyPairGenerator"

Service.KeyPairGenerator.XDH = "com.ibm.crypto.plus.provider.XDHKeyPairGenerator$XDH"

KeyPairGenerator.X25519.alias.add = "OID.1.3.101.110, 1.3.101.110"
Service.KeyPairGenerator.X25519 = "com.ibm.crypto.plus.provider.XDHKeyPairGenerator$X25519"

KeyPairGenerator.X448.alias.add = "OID.1.3.101.111, 1.3.101.111"
Service.KeyPairGenerator.X448 = "com.ibm.crypto.plus.provider.XDHKeyPairGenerator$X448"

Service.KeyPairGenerator.EdDSA = "com.ibm.crypto.plus.provider.EdDSAKeyPairGenerator$EdDSA"

KeyPairGenerator.Ed25519.alias.add = "1.3.101.112, OID.1.3.101.112"
Service.KeyPairGenerator.Ed25519 = "com.ibm.crypto.plus.provider.EdDSAKeyPairGenerator$Ed25519"

KeyPairGenerator.Ed448.alias.add = "1.3.101.113, OID.1.3.101.113"
Service.KeyPairGenerator.Ed448 = "com.ibm.crypto.plus.provider.EdDSAKeyPairGenerator$Ed448"

KeyPairGenerator.RSA.alias.add = "OID.1.2.5.8.1.1, 1.2.5.8.1.1, OID.1.2.840.113549.1.1, 1.2.840.113549.1.1"
Service.KeyPairGenerator.RSA = "com.ibm.crypto.plus.provider.RSAKeyPairGenerator$Legacy"

KeyPairGenerator.RSAPSS.alias.add = "RSA-PSS, RSASSA-PSS, RSASA-PSS"
Service.KeyPairGenerator.RSAPSS = "com.ibm.crypto.plus.provider.RSAKeyPairGenerator$PSS"

/* =======================================================================
 * PQC key pair generators
 * =======================================================================
 */
Service.KeyPairGenerator.ML-KEM = "com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLKEM"

Service.KeyPairGenerator.ML-DSA = "com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLDSA"

KeyPairGenerator.ML-KEM-512.alias.add = "ML_KEM_512, MLKEM512, OID.2.16.840.1.101.3.4.4.1, 2.16.840.1.101.3.4.4.1"
Service.KeyPairGenerator.ML-KEM-512 = "com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLKEM512"

KeyPairGenerator.ML-KEM-768.alias.add = "ML_KEM_768, MLKEM768, OID.2.16.840.1.101.3.4.4.2, 2.16.840.1.101.3.4.4.2"
Service.KeyPairGenerator.ML-KEM-768 = "com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLKEM768"

KeyPairGenerator.ML-KEM-1024.alias.add = "ML_KEM_1024, MLKEM1024, OID.2.16.840.1.101.3.4.4.3, 2.16.840.1.101.3.4.4.3"
Service.KeyPairGenerator.ML-KEM-1024 = "com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLKEM1024"

KeyPairGenerator.ML-DSA-44.alias.add = "ML_DSA_44, MLDSA44, OID.2.16.840.1.101.3.4.3.17, 2.16.840.1.101.3.4.3.17"
Service.KeyPairGenerator.ML-DSA-44 = "com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLDSA44"

KeyPairGenerator.ML-DSA-65.alias.add = "ML_DSA_65, MLDSA65, OID.2.16.840.1.101.3.4.3.18, 2.16.840.1.101.3.4.3.18"
Service.KeyPairGenerator.ML-DSA-65 = "com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLDSA65"

KeyPairGenerator.ML-DSA-87.alias.add = "ML_DSA_87, MLDSA87, OID.2.16.840.1.101.3.4.3.19, 2.16.840.1.101.3.4.3.19"
Service.KeyPairGenerator.ML-DSA-87 = "com.ibm.crypto.plus.provider.PQCKeyPairGenerator$MLDSA87"

/* =======================================================================
 * Message authentication engines
 * =======================================================================
 */
MAC.HmacMD5.alias.add = "HMACwithMD5"
Service.MAC.HmacMD5 = "com.ibm.crypto.plus.provider.HmacCore$HmacMD5"

MAC.HmacSHA1.alias.add = "OID.1.2.840.113549.2.7, 1.2.840.113549.2.7, HMACwithSHA1, HMACwithSHA-1, HmacSHA-1"
Service.MAC.HmacSHA1 = "com.ibm.crypto.plus.provider.HmacCore$HmacSHA1"

MAC.HmacSHA224.alias.add = "OID.1.2.840.113549.2.8, 1.2.840.113549.2.8, HMACwithSHA224, HMACwithSHA-224, HmacSHA-224"
Service.MAC.HmacSHA224 = "com.ibm.crypto.plus.provider.HmacCore$HmacSHA224"

MAC.HmacSHA256.alias.add = "OID.1.2.840.113549.2.9, 1.2.840.113549.2.9, HMACwithSHA256, HMACwithSHA-256, HmacSHA-256"
Service.MAC.HmacSHA256 = "com.ibm.crypto.plus.provider.HmacCore$HmacSHA256"

MAC.HmacSHA384.alias.add = "OID.1.2.840.113549.2.10, 1.2.840.113549.2.10, HMACwithSHA384, HMACwithSHA-384, HmacSHA-384"
Service.MAC.HmacSHA384 = "com.ibm.crypto.plus.provider.HmacCore$HmacSHA384"

MAC.HmacSHA512.alias.add = "OID.1.2.840.113549.2.11, 1.2.840.113549.2.11, HMACwithSHA512, HMACwithSHA-512, HmacSHA-512"
Service.MAC.HmacSHA512 = "com.ibm.crypto.plus.provider.HmacCore$HmacSHA512"

MAC.HmacSHA3-224.alias.add = "OID.2.16.840.1.101.3.4.2.13, 2.16.840.1.101.3.4.2.13, HMACwithSHA3-224, HmacSHA3-224"
Service.MAC.HmacSHA3-224 = "com.ibm.crypto.plus.provider.HmacCore$HmacSHA3_224"

MAC.HmacSHA3-256.alias.add = "OID.2.16.840.1.101.3.4.2.14, 2.16.840.1.101.3.4.2.14, HMACwithSHA3-256, HmacSHA3-256"
Service.MAC.HmacSHA3-256 = "com.ibm.crypto.plus.provider.HmacCore$HmacSHA3_256"

MAC.HmacSHA3-384.alias.add = "OID.2.16.840.1.101.3.4.2.15, 2.16.840.1.101.3.4.2.15, HMACwithSHA3-384, HmacSHA3-384"
Service.MAC.HmacSHA3-384 = "com.ibm.crypto.plus.provider.HmacCore$HmacSHA3_384"

MAC.HmacSHA3-512.alias.add = "OID.2.16.840.1.101.3.4.2.16, 2.16.840.1.101.3.4.2.16, HMACwithSHA3-512, HmacSHA3-512"
Service.MAC.HmacSHA3-512 = "com.ibm.crypto.plus.provider.HmacCore$HmacSHA3_512"

/* =======================================================================
 * Key Derivation engines
 * =======================================================================
 */
Service.KDF.HKDF-SHA256 = "com.ibm.crypto.plus.provider.HKDFKeyDerivation$HKDFSHA256"

Service.KDF.HKDF-SHA384 = "com.ibm.crypto.plus.provider.HKDFKeyDerivation$HKDFSHA384"

Service.KDF.HKDF-SHA512 = "com.ibm.crypto.plus.provider.HKDFKeyDerivation$HKDFSHA512"

/* =======================================================================
 * MessageDigest engines
 * =======================================================================
 */
Service.MessageDigest.MD5 = "com.ibm.crypto.plus.provider.MessageDigest$MD5"

MessageDigest.SHA-1.alias.add = "SHA, SHA1, OID.1.3.14.3.2.26, 1.3.14.3.2.26"
Service.MessageDigest.SHA-1 = "com.ibm.crypto.plus.provider.MessageDigest$SHA1"

MessageDigest.SHA-224.alias.add = "OID.2.16.840.1.101.3.4.2.4, 2.16.840.1.101.3.4.2.4, SHA224"
Service.MessageDigest.SHA-224 = "com.ibm.crypto.plus.provider.MessageDigest$SHA224"

MessageDigest.SHA-256.alias.add = "OID.2.16.840.1.101.3.4.2.1, 2.16.840.1.101.3.4.2.1, SHA2, SHA-2, SHA256"
Service.MessageDigest.SHA-256 = "com.ibm.crypto.plus.provider.MessageDigest$SHA256"

MessageDigest.SHA-384.alias.add = "OID.2.16.840.1.101.3.4.2.2, 2.16.840.1.101.3.4.2.2, SHA3, SHA-3, SHA384"
Service.MessageDigest.SHA-384 = "com.ibm.crypto.plus.provider.MessageDigest$SHA384"

MessageDigest.SHA-512.alias.add = "OID.2.16.840.1.101.3.4.2.3, 2.16.840.1.101.3.4.2.3, SHA5, SHA-5, SHA512"
Service.MessageDigest.SHA-512 = "com.ibm.crypto.plus.provider.MessageDigest$SHA512"

// SHA512-224
MessageDigest.SHA-512/224.alias.add = "SHA512/224, OID.2.16.840.1.101.3.4.2.5, 2.16.840.1.101.3.4.2.5"
Service.MessageDigest.SHA-512/224 = "com.ibm.crypto.plus.provider.MessageDigest$SHA512_224"

// SHA512-256
MessageDigest.SHA-512/256.alias.add = "SHA512/256, OID.2.16.840.1.101.3.4.2.6, 2.16.840.1.101.3.4.2.6"
Service.MessageDigest.SHA-512/256 = "com.ibm.crypto.plus.provider.MessageDigest$SHA512_256"

//SHA3 Hashes
MessageDigest.SHA3-224.alias.add = "SHA3-224, OID.2.16.840.1.101.3.4.2.7, 2.16.840.1.101.3.4.2.7"
Service.MessageDigest.SHA3-224 = "com.ibm.crypto.plus.provider.MessageDigest$SHA3_224"

MessageDigest.SHA3-256.alias.add = "SHA3-256, OID.2.16.840.1.101.3.4.2.8, 2.16.840.1.101.3.4.2.8"
Service.MessageDigest.SHA3-256 = "com.ibm.crypto.plus.provider.MessageDigest$SHA3_256"

MessageDigest.SHA3-384.alias.add = "SHA3-384, OID.2.16.840.1.101.3.4.2.9, 2.16.840.1.101.3.4.2.9"
Service.MessageDigest.SHA3-384 = "com.ibm.crypto.plus.provider.MessageDigest$SHA3_384"

MessageDigest.SHA3-512.alias.add = "SHA3-512, OID.2.16.840.1.101.3.4.2.10, 2.16.840.1.101.3.4.2.10"
Service.MessageDigest.SHA3-512 = "com.ibm.crypto.plus.provider.MessageDigest$SHA3_512"

/* =======================================================================
 * PQC key encapsulation mechanisms
 * =======================================================================
 */
KEM.ML-KEM-512.alias.add = "ML_KEM_512, MLKEM512, OID.2.16.840.1.101.3.4.4.1, 2.16.840.1.101.3.4.4.1"
Service.KEM.ML-KEM-512 = "com.ibm.crypto.plus.provider.MLKEMImpl$MLKEM512"

KEM.ML-KEM-768.alias.add = "ML-KEM, ML_KEM_768, MLKEM768, OID.2.16.840.1.101.3.4.4.2, 2.16.840.1.101.3.4.4.2"
Service.KEM.ML-KEM-768 = "com.ibm.crypto.plus.provider.MLKEMImpl$MLKEM768"

KEM.ML-KEM-1024.alias.add = "ML_KEM_1024, MLKEM1024, OID.2.16.840.1.101.3.4.4.3, 2.16.840.1.101.3.4.4.3"
Service.KEM.ML-KEM-1024 = "com.ibm.crypto.plus.provider.MLKEMImpl$MLKEM1024"

/* =======================================================================
 * Secret key factories
 * =======================================================================
 */
SecretKeyFactory.AES.alias.add = "2.16.840.1.101.3.4.1, OID.2.16.840.1.101.3.4.1"
Service.SecretKeyFactory.AES = "com.ibm.crypto.plus.provider.AESKeyFactory"

Service.SecretKeyFactory.PBKDF2WithHmacSHA1 = "com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA1"

Service.SecretKeyFactory.PBKDF2WithHmacSHA224 = "com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA224"

Service.SecretKeyFactory.PBKDF2WithHmacSHA256 = "com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA256"

Service.SecretKeyFactory.PBKDF2WithHmacSHA384 = "com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA384"

Service.SecretKeyFactory.PBKDF2WithHmacSHA512 = "com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA512"

Service.SecretKeyFactory.PBKDF2WithHmacSHA512/224 = "com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA512_224"

Service.SecretKeyFactory.PBKDF2WithHmacSHA512/256 = "com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA512_256"

SecretKeyFactory.DESede.alias.add = "TripleDES, 3DES"
Service.SecretKeyFactory.DESede = "com.ibm.crypto.plus.provider.DESedeKeyFactory"

Service.SecretKeyFactory.ChaCha20 = "com.ibm.crypto.plus.provider.ChaCha20KeyFactory"

Service.SecretKeyFactory.PBEWithHmacSHA1AndAES_128 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA1AndAES_128"

Service.SecretKeyFactory.PBEWithHmacSHA1AndAES_256 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA1AndAES_256"

Service.SecretKeyFactory.PBEWithHmacSHA224AndAES_128 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA224AndAES_128"

Service.SecretKeyFactory.PBEWithHmacSHA224AndAES_256 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA224AndAES_256"

Service.SecretKeyFactory.PBEWithHmacSHA256AndAES_128 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA256AndAES_128"

Service.SecretKeyFactory.PBEWithHmacSHA256AndAES_256 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA256AndAES_256"

Service.SecretKeyFactory.PBEWithHmacSHA384AndAES_128 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA384AndAES_128"

Service.SecretKeyFactory.PBEWithHmacSHA384AndAES_256 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA384AndAES_256"

Service.SecretKeyFactory.PBEWithHmacSHA512AndAES_128 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA512AndAES_128"

Service.SecretKeyFactory.PBEWithHmacSHA512AndAES_256 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA512AndAES_256"

Service.SecretKeyFactory.PBEWithHmacSHA512/224AndAES_128 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA512_224AndAES_128"

Service.SecretKeyFactory.PBEWithHmacSHA512/224AndAES_256 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA512_224AndAES_256"

Service.SecretKeyFactory.PBEWithHmacSHA512/256AndAES_128 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA512_256AndAES_128"

Service.SecretKeyFactory.PBEWithHmacSHA512/256AndAES_256 = "com.ibm.crypto.plus.provider.PBEKeyFactory$PBEWithHmacSHA512_256AndAES_256"

/* =======================================================================
 * SecureRandom
 * =======================================================================
 */
SecureRandom.SHA256DRBG.alias.add = "HASHDRBG, SHA2DRBG"
SecureRandom.SHA256DRBG.attr.ThreadSafe = "true"
Service.SecureRandom.SHA256DRBG = "com.ibm.crypto.plus.provider.HASHDRBG$SHA256DRBG"

SecureRandom.SHA512DRBG.alias.add = "SHA5DRBG"
SecureRandom.SHA512DRBG.attr.ThreadSafe = "true"
Service.SecureRandom.SHA512DRBG = "com.ibm.crypto.plus.provider.HASHDRBG$SHA512DRBG"

/* =======================================================================
 * Signature engines
 * =======================================================================
 */
Signature.NONEwithDSA.alias.add = "DSAforSSL"
Service.Signature.NONEwithDSA = "com.ibm.crypto.plus.provider.DSASignatureNONE"

Service.Signature.NONEwithRSA = "com.ibm.crypto.plus.provider.RSASignatureNONE"

Service.Signature.RSAforSSL = "com.ibm.crypto.plus.provider.RSASignatureSSL"

Signature.NONEwithECDSA.alias.add = "ECDSAforSSL"
Service.Signature.NONEwithECDSA = "com.ibm.crypto.plus.provider.DatawithECDSA"

Signature.SHA1withDSA.alias.add = "DSA, OID.1.2.840.10040.4.3, 1.2.840.10040.4.3, OID.1.3.14.3.2.13, 1.3.14.3.2.13, OID.1.3.14.3.2.27, 1.3.14.3.2.27, SHA-1withDSA, SHA-1/DSA, SHA1/DSA, SHA/DSA, DSS, SHAwithDSA, DSAWithSHA1"
Service.Signature.SHA1withDSA = "com.ibm.crypto.plus.provider.DSASignature$SHA1withDSA"

Signature.SHA224withDSA.alias.add = "OID.2.16.840.1.101.3.4.3.1, 2.16.840.1.101.3.4.3.1, SHA-224withDSA, SHA224/DSA, SHA-224/DSA"
Service.Signature.SHA224withDSA = "com.ibm.crypto.plus.provider.DSASignature$SHA224withDSA"

Signature.SHA256withDSA.alias.add = "OID.2.16.840.1.101.3.4.3.2, 2.16.840.1.101.3.4.3.2, SHA2withDSA, SHA-2withDSA, SHA-256withDSA, SHA2/DSA, SHA-2/DSA, SHA-256/DSA"
Service.Signature.SHA256withDSA = "com.ibm.crypto.plus.provider.DSASignature$SHA256withDSA"

Signature.SHA3-224withDSA.alias.add = "OID.2.16.840.1.101.3.4.3.5, 2.16.840.1.101.3.4.3.5, SHA3-224withDSA, SHA3-224/DSA"
Service.Signature.SHA3-224withDSA = "com.ibm.crypto.plus.provider.DSASignature$SHA3_224withDSA"

Signature.SHA3-256withDSA.alias.add = "OID.2.16.840.1.101.3.4.3.6, 2.16.840.1.101.3.4.3.6, SHA3-256withDSA, SHA3-256/DSA"
Service.Signature.SHA3-256withDSA = "com.ibm.crypto.plus.provider.DSASignature$SHA3_256withDSA"

Signature.SHA3-384withDSA.alias.add = "OID.2.16.840.1.101.3.4.3.7, 2.16.840.1.101.3.4.3.7, SHA3-384withDSA, SHA3-384/DSA"
Service.Signature.SHA3-384withDSA = "com.ibm.crypto.plus.provider.DSASignature$SHA3_384withDSA"

Signature.SHA3-512withDSA.alias.add = "OID.2.16.840.1.101.3.4.3.8, 2.16.840.1.101.3.4.3.8, SHA3-512withDSA, SHA3-512/DSA"
Service.Signature.SHA3-512withDSA = "com.ibm.crypto.plus.provider.DSASignature$SHA3_512withDSA"

Signature.SHA1withECDSA.alias.add = "OID.1.2.840.10045.4.1, 1.2.840.10045.4.1, SHAwithECDSA, SHA-1withECDSA, SHA/ECDSA, SHA-1/ECDSA"
Service.Signature.SHA1withECDSA = "com.ibm.crypto.plus.provider.ECDSASignature$SHA1withECDSA"

Signature.SHA224withECDSA.alias.add = "OID.1.2.840.10045.4.3.1, 1.2.840.10045.4.3.1, SHA224/ECDSA, SHA-224/ECDSA"
Service.Signature.SHA224withECDSA = "com.ibm.crypto.plus.provider.ECDSASignature$SHA224withECDSA"

Signature.SHA256withECDSA.alias.add = "OID.1.2.840.10045.4.3.2, 1.2.840.10045.4.3.2, SHA2withECDSA, SHA2/ECDSA, SHA-256/ECDSA"
Service.Signature.SHA256withECDSA = "com.ibm.crypto.plus.provider.ECDSASignature$SHA256withECDSA"

Signature.SHA384withECDSA.alias.add = "OID.1.2.840.10045.4.3.3, 1.2.840.10045.4.3.3, SHA3withECDSA, SHA3/ECDSA, SHA-384/ECDSA"
Service.Signature.SHA384withECDSA = "com.ibm.crypto.plus.provider.ECDSASignature$SHA384withECDSA"

Signature.SHA512withECDSA.alias.add = "OID.1.2.840.10045.4.3.4, 1.2.840.10045.4.3.4, SHA5withECDSA, SHA5/ECDSA, SHA-512/ECDSA"
Service.Signature.SHA512withECDSA = "com.ibm.crypto.plus.provider.ECDSASignature$SHA512withECDSA"

Signature.SHA3-224withECDSA.alias.add = "OID.2.16.840.1.101.3.4.3.9, 2.16.840.1.101.3.4.3.9, SHA3-224withECDSA, SHA3-224/ECDSA"
Service.Signature.SHA3-224withECDSA = "com.ibm.crypto.plus.provider.ECDSASignature$SHA3_224withECDSA"

Signature.SHA3-256withECDSA.alias.add = "OID.2.16.840.1.101.3.4.3.10, 2.16.840.1.101.3.4.3.10, SHA3-256withECDSA, SHA3-256/ECDSA"
Service.Signature.SHA3-256withECDSA = "com.ibm.crypto.plus.provider.ECDSASignature$SHA3_256withECDSA"

Signature.SHA3-384withECDSA.alias.add = "OID.2.16.840.1.101.3.4.3.11, 2.16.840.1.101.3.4.3.11, SHA3-384withECDSA, SHA3-384/ECDSA"
Service.Signature.SHA3-384withECDSA = "com.ibm.crypto.plus.provider.ECDSASignature$SHA3_384withECDSA"

Signature.SHA3-512withECDSA.alias.add = "OID.2.16.840.1.101.3.4.3.12, 2.16.840.1.101.3.4.3.12, SHA3-512withECDSA, SHA3-512/ECDSA"
Service.Signature.SHA3-512withECDSA = "com.ibm.crypto.plus.provider.ECDSASignature$SHA3_512withECDSA"

Signature.SHA1withRSA.alias.add = "OID.1.2.840.113549.1.1.5, 1.2.840.113549.1.1.5, OID.1.3.14.3.2.29, 1.3.14.3.2.29, OID.1.3.14.3.2.26, 1.3.14.3.2.26, SHA-1withRSA, SHAwithRSA, SHA-1/RSA, SHA1/RSA, SHA/RSA, RSA"
Service.Signature.SHA1withRSA = "com.ibm.crypto.plus.provider.RSASignature$SHA1withRSA"

Signature.SHA224withRSA.alias.add = "OID.1.2.840.113549.1.1.14, 1.2.840.113549.1.1.14, SHA-224/RSA, SHA224/RSA"
Service.Signature.SHA224withRSA = "com.ibm.crypto.plus.provider.RSASignature$SHA224withRSA"

Signature.SHA256withRSA.alias.add = "OID.1.2.840.113549.1.1.11, 1.2.840.113549.1.1.11, SHA-256/RSA, SHA2withRSA, SHA2/RSA"
Service.Signature.SHA256withRSA = "com.ibm.crypto.plus.provider.RSASignature$SHA256withRSA"

Signature.SHA384withRSA.alias.add = "OID.1.2.840.113549.1.1.12, 1.2.840.113549.1.1.12, SHA-384/RSA, SHA3withRSA, SHA3/RSA"
Service.Signature.SHA384withRSA = "com.ibm.crypto.plus.provider.RSASignature$SHA384withRSA"

Signature.SHA512withRSA.alias.add = "OID.1.2.840.113549.1.1.13, 1.2.840.113549.1.1.13, SHA-512/RSA, SHA5withRSA, SHA5/RSA"
Service.Signature.SHA512withRSA = "com.ibm.crypto.plus.provider.RSASignature$SHA512withRSA"

Signature.SHA3-224withRSA.alias.add = "OID.2.16.840.1.101.3.4.3.13, 2.16.840.1.101.3.4.3.13, SHA3-224/RSA, SHA3-224withRSA"
Service.Signature.SHA3-224withRSA = "com.ibm.crypto.plus.provider.RSASignature$SHA3_224withRSA"

Signature.SHA3-256withRSA.alias.add = "OID.2.16.840.1.101.3.4.3.14, 2.16.840.1.101.3.4.3.14, SHA3-256/RSA, SHA3-256withRSA"
Service.Signature.SHA3-256withRSA = "com.ibm.crypto.plus.provider.RSASignature$SHA3_256withRSA"

Signature.SHA3-384withRSA.alias.add = "OID.2.16.840.1.101.3.4.3.15, 2.16.840.1.101.3.4.3.15, SHA3-384/RSA, SHA3-384withRSA"
Service.Signature.SHA3-384withRSA = "com.ibm.crypto.plus.provider.RSASignature$SHA3_384withRSA"

Signature.SHA3-512withRSA.alias.add = "OID.2.16.840.1.101.3.4.3.16, 2.16.840.1.101.3.4.3.16, SHA3-512/RSA, SHA3-512withRSA"
Service.Signature.SHA3-512withRSA = "com.ibm.crypto.plus.provider.RSASignature$SHA3_512withRSA"

Signature.RSAPSS.alias.add = "RSA-PSS, RSASSA-PSS, RSASA-PSS, OID.1.2.840.113549.1.1.10, 1.2.840.113549.1.1.10"
Service.Signature.RSAPSS = "com.ibm.crypto.plus.provider.RSAPSSSignature"

Service.Signature.EdDSA = "com.ibm.crypto.plus.provider.EdDSASignature$EdDSA"

Signature.Ed25519.alias.add = "OID.1.3.101.112, 1.3.101.112"
Service.Signature.Ed25519 = "com.ibm.crypto.plus.provider.EdDSASignature$Ed25519"

Signature.Ed448.alias.add = "OID.1.3.101.113, 1.3.101.113"
Service.Signature.Ed448 = "com.ibm.crypto.plus.provider.EdDSASignature$Ed448"

/* =======================================================================
 * PQC signatures
 * =======================================================================
 */
Signature.ML-DSA-44.alias.add = "ML_DSA_44, MLDSA44, OID.2.16.840.1.101.3.4.3.17, 2.16.840.1.101.3.4.3.17"
Service.Signature.ML-DSA-44 = "com.ibm.crypto.plus.provider.PQCSignatureImpl$MLDSA44"

Signature.ML-DSA-65.alias.add = "ML-DSA, ML_DSA_65, MLDSA65, OID.2.16.840.1.101.3.4.3.18, 2.16.840.1.101.3.4.3.18"
Service.Signature.ML-DSA-65 = "com.ibm.crypto.plus.provider.PQCSignatureImpl$MLDSA65"

Signature.ML-DSA-87.alias.add = "ML_DSA_87, MLDSA87, OID.2.16.840.1.101.3.4.3.19, 2.16.840.1.101.3.4.3.19"
Service.Signature.ML-DSA-87 = "com.ibm.crypto.plus.provider.PQCSignatureImpl$MLDSA87"