#
# Copyright IBM Corp. 2026
#
# This code is free software; you can redistribute it and/or modify it
# under the terms provided by IBM in the LICENSE file that accompanied
# this code, including the "Classpath" Exception described therein.


name = test-fips

description =  OpenJCEPlusFIPS-test Provider


Service.AlgorithmParameters.AES = com.ibm.crypto.plus.provider.AESParameters

AlgorithmParameters.DiffieHellman.alias.add = DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1
Service.AlgorithmParameters.DiffieHellman = com.ibm.crypto.plus.provider.DHParameters

AlgorithmParameters.DSA.alias.add = OID.1.2.840.10040.4.1, 1.2.840.10040.4.1, OID.1.3.14.3.2.12, 1.3.14.3.2.12
Service.AlgorithmParameters.DSA = com.ibm.crypto.plus.provider.DSAParameters

AlgorithmParameters.EC.alias.add = EllipticCurve, OID.1.2.840.10045.2.1, 1.2.840.10045.2.1
Service.AlgorithmParameters.EC = com.ibm.crypto.plus.provider.ECParameters

AlgorithmParameters.GCM.alias.add = AESGCM
Service.AlgorithmParameters.GCM = com.ibm.crypto.plus.provider.GCMParameters

AlgorithmParameters.CCM.alias.add = AESCCM
Service.AlgorithmParameters.CCM = com.ibm.crypto.plus.provider.CCMParameters

Service.AlgorithmParameters.OAEP = com.ibm.crypto.plus.provider.OAEPParameters

# ChaCha20 and ChaCha20-Poly1305 not supported in FIPS mode

# =======================================================================
 # Algorithm parameter generation engines
 # =======================================================================
 #
AlgorithmParameterGenerator.DiffieHellman.alias.add = DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1
Service.AlgorithmParameterGenerator.DiffieHellman = com.ibm.crypto.plus.provider.DHParameterGenerator

AlgorithmParameters.RSAPSS.alias.add = RSA-PSS, RSASSA-PSS, RSASA-PSS
Service.AlgorithmParameters.RSAPSS = com.ibm.crypto.plus.provider.PSSParameters

Service.AlgorithmParameterGenerator.EC = com.ibm.crypto.plus.provider.ECParameterGenerator

AlgorithmParameterGenerator.GCM.alias.add = AESGCM
Service.AlgorithmParameterGenerator.GCM = com.ibm.crypto.plus.provider.GCMParameterGenerator

AlgorithmParameterGenerator.CCM.alias.add = AESCCM
Service.AlgorithmParameterGenerator.CCM = com.ibm.crypto.plus.provider.CCMParameterGenerator

# =======================================================================
 # Cipher engines
 # =======================================================================
 #
Service.Cipher.AES/GCM/NoPadding = com.ibm.crypto.plus.provider.AESGCMCipher

Service.Cipher.AES/CCM/NoPadding = com.ibm.crypto.plus.provider.AESCCMCipher

Service.Cipher.AES = com.ibm.crypto.plus.provider.AESCipher

Service.Cipher.RSA = com.ibm.crypto.plus.provider.RSA

Cipher.AES/KW/NoPadding.alias.add = AESWrap
Service.Cipher.AES/KW/NoPadding = com.ibm.crypto.plus.provider.AESKeyWrapCipher$KW

Cipher.AES/KWP/NoPadding.alias.add = AESWrapPad
Service.Cipher.AES/KWP/NoPadding = com.ibm.crypto.plus.provider.AESKeyWrapCipher$KWP

Cipher.AES_128/KW/NoPadding.alias.add = AESWrap_128, 2.16.840.1.101.3.4.1.5, OID.2.16.840.1.101.3.4.1.5
Service.Cipher.AES_128/KW/NoPadding = com.ibm.crypto.plus.provider.AESKeyWrapCipher$KW_128

Cipher.AES_128/KWP/NoPadding.alias.add = AESWrapPad_128, 2.16.840.1.101.3.4.1.8, OID.2.16.840.1.101.3.4.1.8
Service.Cipher.AES_128/KWP/NoPadding = com.ibm.crypto.plus.provider.AESKeyWrapCipher$KWP_128

Cipher.AES_192/KW/NoPadding.alias.add = AESWrap_192, 2.16.840.1.101.3.4.1.25, OID.2.16.840.1.101.3.4.1.25
Service.Cipher.AES_192/KW/NoPadding = com.ibm.crypto.plus.provider.AESKeyWrapCipher$KW_192

Cipher.AES_192/KWP/NoPadding.alias.add = AESWrapPad_192, 2.16.840.1.101.3.4.1.28, OID.2.16.840.1.101.3.4.1.28
Service.Cipher.AES_192/KWP/NoPadding = com.ibm.crypto.plus.provider.AESKeyWrapCipher$KWP_192

Cipher.AES_256/KW/NoPadding.alias.add = AESWrap_256, 2.16.840.1.101.3.4.1.45, OID.2.16.840.1.101.3.4.1.45
Service.Cipher.AES_256/KW/NoPadding = com.ibm.crypto.plus.provider.AESKeyWrapCipher$KW_256

Cipher.AES_256/KWP/NoPadding.alias.add = AESWrapPad_256, 2.16.840.1.101.3.4.1.48, OID.2.16.840.1.101.3.4.1.48
Service.Cipher.AES_256/KWP/NoPadding = com.ibm.crypto.plus.provider.AESKeyWrapCipher$KWP_256

# =======================================================================
 # Key agreement
 # =======================================================================
 #
KeyAgreement.DiffieHellman.alias.add = DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1
Service.KeyAgreement.DiffieHellman = com.ibm.crypto.plus.provider.DHKeyAgreement

Service.KeyAgreement.ECDH = com.ibm.crypto.plus.provider.ECDHKeyAgreement

# =======================================================================
 # Key factories
 # =======================================================================
 #
KeyFactory.DiffieHellman.alias.add = DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1
Service.KeyFactory.DiffieHellman = com.ibm.crypto.plus.provider.DHKeyFactory

KeyFactory.DSA.alias.add = OID.1.2.840.10040.4.1, 1.2.840.10040.4.1, OID.1.3.14.3.2.12, 1.3.14.3.2.12, DSAKeyFactory
Service.KeyFactory.DSA = com.ibm.crypto.plus.provider.DSAKeyFactory

KeyFactory.EC.alias.add = OID.1.2.840.10045.2.1, 1.2.840.10045.2.1, EllipticCurve
Service.KeyFactory.EC = com.ibm.crypto.plus.provider.ECKeyFactory

KeyFactory.RSA.alias.add = OID.1.2.5.8.1.1, 1.2.5.8.1.1, OID.1.2.840.113549.1.1.1, 1.2.840.113549.1.1.1, OID.1.2.840.113549.1.1, 1.2.840.113549.1.1
Service.KeyFactory.RSA = com.ibm.crypto.plus.provider.RSAKeyFactory$Legacy

KeyFactory.RSAPSS.alias.add = RSA-PSS, RSASSA-PSS, RSASA-PSS, OID.1.2.840.113549.1.1.10, 1.2.840.113549.1.1.10
Service.KeyFactory.RSAPSS = com.ibm.crypto.plus.provider.RSAKeyFactory$PSS

# =======================================================================
 # Key Generator engines
 # =======================================================================
 #
KeyGenerator.AES.alias.add = 2.16.840.1.101.3.4.1, OID.2.16.840.1.101.3.4.1
Service.KeyGenerator.AES = com.ibm.crypto.plus.provider.AESKeyGenerator

KeyGenerator.HmacSHA224.alias.add = OID.1.2.840.113549.2.8, 1.2.840.113549.2.8, HMACwithSHA224, HMACwithSHA-224, HmacSHA-224
Service.KeyGenerator.HmacSHA224 = com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA224

KeyGenerator.HmacSHA256.alias.add = OID.1.2.840.113549.2.9, 1.2.840.113549.2.9, HMACwithSHA256, HMACwithSHA-256, HmacSHA-256
Service.KeyGenerator.HmacSHA256 = com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA256

KeyGenerator.HmacSHA384.alias.add = OID.1.2.840.113549.2.10, 1.2.840.113549.2.10, HMACwithSHA384, HMACwithSHA-384, HmacSHA-384
Service.KeyGenerator.HmacSHA384 = com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA384

KeyGenerator.HmacSHA512.alias.add = OID.1.2.840.113549.2.11, 1.2.840.113549.2.11, HMACwithSHA512, HMACwithSHA-512, HmacSHA-512
Service.KeyGenerator.HmacSHA512 = com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA512

KeyGenerator.HmacSHA3-224.alias.add = OID.2.16.840.1.101.3.4.2.13, 2.16.840.1.101.3.4.2.13, HMACwithSHA3-224, HmacSHA3-224
Service.KeyGenerator.HmacSHA3-224 = com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA3_224

KeyGenerator.HmacSHA3-256.alias.add = OID.2.16.840.1.101.3.4.2.14, 2.16.840.1.101.3.4.2.14, HMACwithSHA3-256, HmacSHA3-256
Service.KeyGenerator.HmacSHA3-256 = com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA3_256

KeyGenerator.HmacSHA3-384.alias.add = OID.2.16.840.1.101.3.4.2.15, 2.16.840.1.101.3.4.2.15, HMACwithSHA3-384, HmacSHA3-384
Service.KeyGenerator.HmacSHA3-384 = com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA3_384

KeyGenerator.HmacSHA3-512.alias.add = OID.2.16.840.1.101.3.4.2.16, 2.16.840.1.101.3.4.2.16, HMACwithSHA3-512, HmacSHA3-512
Service.KeyGenerator.HmacSHA3-512 = com.ibm.crypto.plus.provider.HmacKeyGenerator$HmacSHA3_512

KeyGenerator.SunTlsPrf.alias.add = TlsPrf
Service.KeyGenerator.SunTlsPrf = com.ibm.crypto.plus.provider.TlsPrfGenerator$V10

KeyGenerator.SunTls12Prf.alias.add = Tls12Prf
Service.KeyGenerator.SunTls12Prf = com.ibm.crypto.plus.provider.TlsPrfGenerator$V12

KeyGenerator.SunTlsRsaPremasterSecret.alias.add = TlsRsaPremasterSecret
Service.KeyGenerator.SunTlsRsaPremasterSecret = com.ibm.crypto.plus.provider.TlsRsaPremasterSecretGenerator

KeyGenerator.SunTls12RsaPremasterSecret.alias.add = Tls12RsaPremasterSecret
Service.KeyGenerator.SunTls12RsaPremasterSecret = com.ibm.crypto.plus.provider.TlsRsaPremasterSecretGenerator

KeyGenerator.SunTlsMasterSecret.alias.add = TlsMasterSecret, TlsExtendedMasterSecret, SunTlsExtendedMasterSecret
Service.KeyGenerator.SunTlsMasterSecret = com.ibm.crypto.plus.provider.TlsMasterSecretGenerator

KeyGenerator.SunTls12MasterSecret.alias.add = Tls12MasterSecret
Service.KeyGenerator.SunTls12MasterSecret = com.ibm.crypto.plus.provider.TlsMasterSecretGenerator

KeyGenerator.SunTlsKeyMaterial.alias.add = TlsKeyMaterial
Service.KeyGenerator.SunTlsKeyMaterial = com.ibm.crypto.plus.provider.TlsKeyMaterialGenerator

KeyGenerator.SunTls12KeyMaterial.alias.add = Tls12KeyMaterial
Service.KeyGenerator.SunTls12KeyMaterial = com.ibm.crypto.plus.provider.TlsKeyMaterialGenerator

# Not supported in FIPS mode yet - Used for both ChaCha20 and ChaCha20-Poly1305 ciphers

# =======================================================================
 # Keypair Generator engines
 # =======================================================================
 #
KeyPairGenerator.DiffieHellman.alias.add = DH, OID.1.2.840.113549.1.3.1, 1.2.840.113549.1.3.1
Service.KeyPairGenerator.DiffieHellman = com.ibm.crypto.plus.provider.DHKeyPairGenerator

KeyPairGenerator.EC.alias.add = OID.1.2.840.10045.2.1, 1.2.840.10045.2.1, EllipticCurve
Service.KeyPairGenerator.EC = com.ibm.crypto.plus.provider.ECKeyPairGenerator

KeyPairGenerator.RSA.alias.add = OID.1.2.5.8.1.1, 1.2.5.8.1.1, OID.1.2.840.113549.1.1, 1.2.840.113549.1.1
Service.KeyPairGenerator.RSA = com.ibm.crypto.plus.provider.RSAKeyPairGenerator$Legacy

KeyPairGenerator.RSAPSS.alias.add = RSA-PSS, RSASSA-PSS, RSASA-PSS
Service.KeyPairGenerator.RSAPSS = com.ibm.crypto.plus.provider.RSAKeyPairGenerator$PSS

# =======================================================================
 # Message authentication engines
 # =======================================================================
 #
MAC.HmacSHA224.alias.add = OID.1.2.840.113549.2.8, 1.2.840.113549.2.8, HMACwithSHA224, HMACwithSHA-224, HmacSHA-224
Service.MAC.HmacSHA224 = com.ibm.crypto.plus.provider.HmacCore$HmacSHA224

MAC.HmacSHA256.alias.add = OID.1.2.840.113549.2.9, 1.2.840.113549.2.9, HMACwithSHA256, HMACwithSHA-256, HmacSHA-256
Service.MAC.HmacSHA256 = com.ibm.crypto.plus.provider.HmacCore$HmacSHA256

MAC.HmacSHA384.alias.add = OID.1.2.840.113549.2.10, 1.2.840.113549.2.10, HMACwithSHA384, HMACwithSHA-384, HmacSHA-384
Service.MAC.HmacSHA384 = com.ibm.crypto.plus.provider.HmacCore$HmacSHA384

MAC.HmacSHA512.alias.add = OID.1.2.840.113549.2.11, 1.2.840.113549.2.11, HMACwithSHA512, HMACwithSHA-512, HmacSHA-512
Service.MAC.HmacSHA512 = com.ibm.crypto.plus.provider.HmacCore$HmacSHA512

MAC.HmacSHA3-224.alias.add = OID.2.16.840.1.101.3.4.2.13, 2.16.840.1.101.3.4.2.13, HMACwithSHA3-224, HmacSHA3-224
Service.MAC.HmacSHA3-224 = com.ibm.crypto.plus.provider.HmacCore$HmacSHA3_224

MAC.HmacSHA3-256.alias.add = OID.2.16.840.1.101.3.4.2.14, 2.16.840.1.101.3.4.2.14, HMACwithSHA3-256, HmacSHA3-256
Service.MAC.HmacSHA3-256 = com.ibm.crypto.plus.provider.HmacCore$HmacSHA3_256

MAC.HmacSHA3-384.alias.add = OID.2.16.840.1.101.3.4.2.15, 2.16.840.1.101.3.4.2.15, HMACwithSHA3-384, HmacSHA3-384
Service.MAC.HmacSHA3-384 = com.ibm.crypto.plus.provider.HmacCore$HmacSHA3_384

MAC.HmacSHA3-512.alias.add = OID.2.16.840.1.101.3.4.2.16, 2.16.840.1.101.3.4.2.16, HMACwithSHA3-512, HmacSHA3-512
Service.MAC.HmacSHA3-512 = com.ibm.crypto.plus.provider.HmacCore$HmacSHA3_512

# =======================================================================
 # Key Derivation engines
 # =======================================================================
 #
Service.KDF.HKDF-SHA256 = com.ibm.crypto.plus.provider.HKDFKeyDerivation$HKDFSHA256

Service.KDF.HKDF-SHA384 = com.ibm.crypto.plus.provider.HKDFKeyDerivation$HKDFSHA384

Service.KDF.HKDF-SHA512 = com.ibm.crypto.plus.provider.HKDFKeyDerivation$HKDFSHA512

# =======================================================================
 # MessageDigest engines
 # =======================================================================
 #
Service.MessageDigest.MD5 = com.ibm.crypto.plus.provider.MessageDigest$MD5

MessageDigest.SHA-1.alias.add = SHA, SHA1, OID.1.3.14.3.2.26, 1.3.14.3.2.26
Service.MessageDigest.SHA-1 = com.ibm.crypto.plus.provider.MessageDigest$SHA1

MessageDigest.SHA-224.alias.add = OID.2.16.840.1.101.3.4.2.4, 2.16.840.1.101.3.4.2.4, SHA224
Service.MessageDigest.SHA-224 = com.ibm.crypto.plus.provider.MessageDigest$SHA224

MessageDigest.SHA-256.alias.add = OID.2.16.840.1.101.3.4.2.1, 2.16.840.1.101.3.4.2.1, SHA2, SHA-2, SHA256
Service.MessageDigest.SHA-256 = com.ibm.crypto.plus.provider.MessageDigest$SHA256

MessageDigest.SHA-384.alias.add = OID.2.16.840.1.101.3.4.2.2, 2.16.840.1.101.3.4.2.2, SHA3, SHA-3, SHA384
Service.MessageDigest.SHA-384 = com.ibm.crypto.plus.provider.MessageDigest$SHA384

MessageDigest.SHA-512.alias.add = OID.2.16.840.1.101.3.4.2.3, 2.16.840.1.101.3.4.2.3, SHA5, SHA-5, SHA512
Service.MessageDigest.SHA-512 = com.ibm.crypto.plus.provider.MessageDigest$SHA512

# SHA512-224
MessageDigest.SHA-512/224.alias.add = SHA512/224, OID.2.16.840.1.101.3.4.2.5, 2.16.840.1.101.3.4.2.5
Service.MessageDigest.SHA-512/224 = com.ibm.crypto.plus.provider.MessageDigest$SHA512_224

# SHA512-256
MessageDigest.SHA-512/256.alias.add = SHA512/256, OID.2.16.840.1.101.3.4.2.6, 2.16.840.1.101.3.4.2.6
Service.MessageDigest.SHA-512/256 = com.ibm.crypto.plus.provider.MessageDigest$SHA512_256

#SHA3 Hashes
MessageDigest.SHA3-224.alias.add = SHA3-224, OID.2.16.840.1.101.3.4.2.7, 2.16.840.1.101.3.4.2.7
Service.MessageDigest.SHA3-224 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_224

MessageDigest.SHA3-256.alias.add = SHA3-256, OID.2.16.840.1.101.3.4.2.8, 2.16.840.1.101.3.4.2.8
Service.MessageDigest.SHA3-256 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_256

MessageDigest.SHA3-384.alias.add = SHA3-384, OID.2.16.840.1.101.3.4.2.9, 2.16.840.1.101.3.4.2.9
Service.MessageDigest.SHA3-384 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_384

MessageDigest.SHA3-512.alias.add = SHA3-512, OID.2.16.840.1.101.3.4.2.10, 2.16.840.1.101.3.4.2.10
Service.MessageDigest.SHA3-512 = com.ibm.crypto.plus.provider.MessageDigest$SHA3_512

# =======================================================================
 # Secret key factories
 # =======================================================================
 #
SecretKeyFactory.AES.alias.add = 2.16.840.1.101.3.4.1, OID.2.16.840.1.101.3.4.1
Service.SecretKeyFactory.AES = com.ibm.crypto.plus.provider.AESKeyFactory

Service.SecretKeyFactory.PBKDF2WithHmacSHA224 = com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA224

Service.SecretKeyFactory.PBKDF2WithHmacSHA256 = com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA256

Service.SecretKeyFactory.PBKDF2WithHmacSHA384 = com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA384

Service.SecretKeyFactory.PBKDF2WithHmacSHA512 = com.ibm.crypto.plus.provider.PBKDF2Core$HmacSHA512

# Not yet supported in FIPS mode - ChaCha20

# =======================================================================
 # SecureRandom
 # =======================================================================
 #
SecureRandom.SHA256DRBG.alias.add = HASHDRBG, SHA2DRBG
SecureRandom.SHA256DRBG.attr.add.ThreadSafe = true
Service.SecureRandom.SHA256DRBG = com.ibm.crypto.plus.provider.HASHDRBG$SHA256DRBG

SecureRandom.SHA512DRBG.alias.add = SHA5DRBG
SecureRandom.SHA512DRBG.attr.add.ThreadSafe = true
Service.SecureRandom.SHA512DRBG = com.ibm.crypto.plus.provider.HASHDRBG$SHA512DRBG

# =======================================================================
 # Signature engines
 # =======================================================================
 #
Signature.NONEwithDSA.alias.add = DSAforSSL
Service.Signature.NONEwithDSA = com.ibm.crypto.plus.provider.DSASignatureNONE

Service.Signature.NONEwithRSA = com.ibm.crypto.plus.provider.RSASignatureNONE

Service.Signature.RSAforSSL = com.ibm.crypto.plus.provider.RSASignatureSSL

Signature.NONEwithECDSA.alias.add = ECDSAforSSL
Service.Signature.NONEwithECDSA = com.ibm.crypto.plus.provider.DatawithECDSA

Signature.SHA224withDSA.alias.add = OID.2.16.840.1.101.3.4.3.1, 2.16.840.1.101.3.4.3.1, SHA-224withDSA, SHA224/DSA, SHA-224/DSA
Service.Signature.SHA224withDSA = com.ibm.crypto.plus.provider.DSASignature$SHA224withDSA

Signature.SHA256withDSA.alias.add = OID.2.16.840.1.101.3.4.3.2, 2.16.840.1.101.3.4.3.2, SHA2withDSA, SHA-2withDSA, SHA-256withDSA, SHA2/DSA, SHA-2/DSA, SHA-256/DSA
Service.Signature.SHA256withDSA = com.ibm.crypto.plus.provider.DSASignature$SHA256withDSA

Signature.SHA224withECDSA.alias.add = OID.1.2.840.10045.4.3.1, 1.2.840.10045.4.3.1, SHA224/ECDSA, SHA-224/ECDSA
Service.Signature.SHA224withECDSA = com.ibm.crypto.plus.provider.ECDSASignature$SHA224withECDSA

Signature.SHA256withECDSA.alias.add = OID.1.2.840.10045.4.3.2, 1.2.840.10045.4.3.2, SHA2withECDSA, SHA2/ECDSA, SHA-256/ECDSA
Service.Signature.SHA256withECDSA = com.ibm.crypto.plus.provider.ECDSASignature$SHA256withECDSA

Signature.SHA384withECDSA.alias.add = OID.1.2.840.10045.4.3.3, 1.2.840.10045.4.3.3, SHA3withECDSA, SHA3/ECDSA, SHA-384/ECDSA
Service.Signature.SHA384withECDSA = com.ibm.crypto.plus.provider.ECDSASignature$SHA384withECDSA

Signature.SHA512withECDSA.alias.add = OID.1.2.840.10045.4.3.4, 1.2.840.10045.4.3.4, SHA5withECDSA, SHA5/ECDSA, SHA-512/ECDSA
Service.Signature.SHA512withECDSA = com.ibm.crypto.plus.provider.ECDSASignature$SHA512withECDSA

Signature.SHA1withRSA.alias.add = OID.1.2.840.113549.1.1.5, 1.2.840.113549.1.1.5, OID.1.3.14.3.2.29, 1.3.14.3.2.29, OID.1.3.14.3.2.26, 1.3.14.3.2.26, SHA-1withRSA, SHAwithRSA, SHA-1/RSA, SHA1/RSA, SHA/RSA, RSA
Service.Signature.SHA1withRSA = com.ibm.crypto.plus.provider.RSASignature$SHA1withRSA

Signature.SHA224withRSA.alias.add = OID.1.2.840.113549.1.1.14, 1.2.840.113549.1.1.14, SHA-224/RSA, SHA224/RSA
Service.Signature.SHA224withRSA = com.ibm.crypto.plus.provider.RSASignature$SHA224withRSA

Signature.SHA256withRSA.alias.add = OID.1.2.840.113549.1.1.11, 1.2.840.113549.1.1.11, SHA-256/RSA, SHA2withRSA, SHA2/RSA
Service.Signature.SHA256withRSA = com.ibm.crypto.plus.provider.RSASignature$SHA256withRSA

Signature.SHA384withRSA.alias.add = OID.1.2.840.113549.1.1.12, 1.2.840.113549.1.1.12, SHA-384/RSA, SHA3withRSA, SHA3/RSA
Service.Signature.SHA384withRSA = com.ibm.crypto.plus.provider.RSASignature$SHA384withRSA

Signature.SHA512withRSA.alias.add = OID.1.2.840.113549.1.1.13, 1.2.840.113549.1.1.13, SHA-512/RSA, SHA5withRSA, SHA5/RSA
Service.Signature.SHA512withRSA = com.ibm.crypto.plus.provider.RSASignature$SHA512withRSA

Signature.RSAPSS.alias.add = RSA-PSS, RSASSA-PSS, RSASA-PSS, OID.1.2.840.113549.1.1.10, 1.2.840.113549.1.1.10
Service.Signature.RSAPSS = com.ibm.crypto.plus.provider.RSAPSSSignature